.mainGrid {
    margin-top: 5% !important;
    margin-bottom: 1% !important;
    min-height: 100vh !important;
}

.header {
    text-align: center !important;
    margin-bottom: 1% !important;
}

.darkHeader {
    border-bottom: 5px solid var(--dark-theme-primary-color);
}

.lightHeader {
    border-bottom: 5px solid var(--light-theme-primary-color);
}

.comingSoonText {
    margin-top: -10% !important;
    text-align: center !important;
}

.launchText {
    text-align: center !important;
    margin-top: -15% !important;
}

.connectBtnDark:hover {
    color: white !important;
}
  
.connectBtnLight:hover {
    color: white !important;
}

.connectGrid {
    display: flex !important;
    justify-content: center !important;
}

.customCardDark {
    background-color: #1d263b !important;
}

.customCardLight {
    background-color: #eaeef3 !important;
}

.btnDark:hover {
    color: black !important;
}
  
.btnLight:hover {
    color: white !important;
}

.customCard {
    border-radius: 5% !important;
    display: flex !important;
    align-items: center !important;
}

.cardContentDiv {
    justify-content: center !important;
    text-align: center !important;
}

.connectBtn {
    margin-top: 10% !important;
}

.cardBtn {
    margin: auto !important;
}

.CHESPurchaseInput {
    margin-top: 8% !important;
    margin-bottom: 5% !important;
}

@media (max-width: 900px) {
    .spacingGrid {
        max-width: 25% !important;
        flex: 25% !important;
    }

    .headerGrid {
        max-width: 50% !important;
        flex: 50% !important;
        text-align: center !important;
    }
}

@media (max-width: 450px) {
    .spacingGrid {
        max-width: 15% !important;
        flex: 15% !important;
    }

    .headerGrid {
        max-width: 70% !important;
        flex: 70% !important;
        text-align: center !important;
    }
}

@media (max-width: 650px) {
    .header {
        margin-top: 8% !important;
    }

    .comingSoonText {
        margin-top: -15% !important;
    }
}